[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
openai = "*"
telebot = "*"
langchain-chroma = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-text-splitters = "*"
jq = "*"

[dev-packages]

[requires]
python_version = "3.10"
